html {
  background-color: #fff;
}
a {
  text-decoration: none !important;
}
.footer_box .cmn_hdr ul li a {
  text-decoration: none;
}
#SeasonalTab .react-tabs__tab.react-tabs__tab--selected {
  margin: 0;
  padding: 10px 20px;
  border: 1px solid #cc0404;
  color: #cc0404;
}
#SeasonalTab .react-tabs__tab {
  border: none;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
}
.container {
  max-width: 1560px !important;
}
#PopularTab .react-tabs__tab {
  border: none;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
}

#PopularTab .react-tabs__tab.react-tabs__tab--selected {
  margin: 0;
  padding: 10px 20px;
  border: 1px solid #cc0404;
  color: #cc0404;
}
.react-tabs__tab-list {
  border-bottom: none !important;
}
#OccasnTab .react-tabs__tab {
  border: none;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
}
#OccasnTab .react-tabs__tab.react-tabs__tab--selected {
  margin: 0;
  padding: 10px 20px;
  border: 1px solid #cc0404;
  color: #cc0404;
}
.offers .cmn_btn:hover {
  border: 2px solid #000;
}
.img_otr {
  position: relative;
}
.bnr_cntnt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
