/*** Font Face ***/

@font-face {
  font-family: "TrajanPro";
  src: url("../fonts/TrajanPro-Regular.woff") format("woff"),
    url("../fonts/TrajanPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/proxima_nova_font-webfont.woff2") format("woff2"),
    url("../fonts/proxima_nova_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "ProximaNovaRegular";
}
.hdr_mn_otr {
  padding: 20px 0;
  border-bottom: 2px solid #d1cfcf;
}
.container {
  max-width: 1560px !important;
}
.logo {
  width: 10%;
}
.hdr_content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hdr_mn_inr {
  display: flex;
  align-items: center;
  width: 100%;
}
.dropdown-toggle {
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.search_input input {
  padding: 15px 40px;
  background: url(../images/mg_glass.png) no-repeat;
  background-position: 2% center;
  border: none;
  width: 775px;
  box-shadow: none;
}
.hdr_crncy {
  padding-right: 40px;
}
.search_input {
  border: 1px solid #a8a5a5;
  border-right: none;
  font-size: 20px;
}
.search_content {
  display: flex;
  align-items: center;
}
.search_img input {
  background: url(../images/sumbit_img.png) no-repeat;
  background-position: 3% center;
  border: 1px solid #ca0000;
  padding: 18px 30px;
}
li {
  list-style: none;
}
.hdr_icons ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px !important;
}
.hdr_icons ul li {
  padding-right: 20px;
  font-size: 25px;
}
.hdr_icons ul li:last-child {
  padding-right: 0;
}
.hdr_icons ul li a {
  color: #a8a5a578;
}
ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.bnr_content {
  position: relative;
}
.bnr_txt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}
.bnr_txt h1 {
  font-family: "TrajanPro";
  color: #fff;
  line-height: 1.5;
  text-align: center;
  font-size: 48px;
  padding-bottom: 40px;
}
.bnr_img img {
  width: 100%;
}
.cmn_btn {
  font-family: "ProximaNovaRegular";
  font-size: 18px;
  background-color: #fff;
  color: #000;
  text-transform: capitalize;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.cmn_btn:hover {
  background-color: #000;
  border: 4px solid #fff;
  color: #fff;
}
.bnr_btn {
  text-align: center;
}
.nav_element ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_element {
  width: 80%;
}
.nav_element li {
  padding-right: 20px;
}
.nav_element li:last-child {
  padding-right: 0;
}
.nav_element li a {
  font-family: "ProximaNovaRegular";
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 18px;
}
.nav_element li a:hover {
  color: #ca0000;
}
.nav_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 90%;
  margin: auto;
}
.sl_btns {
  display: flex;
  gap: 1.5rem;
}

.sl_btns .sl_of {
  font-size: 15px;
  padding: 10px !important;
  color: #fff;
  background-color: #cc0404;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.sl_btns .snd_str {
  border: 1px solid #bababa;
  font-size: 15px;
  padding: 10px !important;
  color: #cc0404;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}
/*** Font Face ***/

@font-face {
  font-family: "TrajanPro";
  src: url("../fonts/TrajanPro-Regular.woff") format("woff"),
    url("../fonts/TrajanPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/proxima_nova_font-webfont.woff2") format("woff2"),
    url("../fonts/proxima_nova_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font: inherit;
  scrollbar-width: thin;
  scrollbar-color: #e69436 #ffffff;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

/* scrollbar */

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 1.2rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #e69436;
  border: 0.3rem solid #e69436;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff;
}

html {
  font-size: 62.5%;
  background-color: #a20707;
  max-width: 1920px;
  margin-inline: auto;
}

body {
  font-weight: normal;
  line-height: normal;
  font-family: "ProximaNovaRegular";
  overflow-x: hidden;
}

section {
  overflow: hidden;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input[type="submit"],
input[type="reset"],
a {
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

::-moz-selection {
  color: #fff;
  background: #a20707;
}

::selection {
  color: #fff;
  background: #a20707;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

/***************** FOR BOOTSTRAP ******************/
.container {
  max-width: 1560px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.navbar,
.nav-link {
  padding: 0;
  margin: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

/*As Per Design Change*/

.cus_nav_outr {
  padding: 20px 0px;
  background: #eee;
}

.cus_nav_innr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*Header*/

.top_header {
  padding: 0;
}

/*zoom effect*/

.zoom_otr {
  overflow: hidden;
}

.bnr_pic {
  overflow: hidden;
}

.zoom {
  -webkit-animation: scale 20s linear infinite;
  animation: scale 20s linear infinite;
}

@-webkit-keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

/*Zoom effect*/

.bnr_content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bnr_otr {
  position: relative;
  overflow: hidden;
}

/* Banner End */

/* cmn_margin & Padding */

.mt-40 {
  margin-top: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.cmn_pdding {
  padding: 9rem 0;
}

/*----Common Header and Button----*/

.cmn_hdr h2 {
  font-size: 4.8rem;
  line-height: 1.2;
  font-weight: bold;
  color: #000000;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family: "TrajanPro";
}

.cmn_hdr.wht h2 {
  color: #fff;
}

.cmn_hdr h3 {
  color: #000000;
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.cmn_hdr h4 {
  color: #000000;
  font-size: 2.4rem;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-bottom: 10px;
}

.cmn_hdr h5 {
  color: #000000;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-bottom: 10px;
}

.cmn_btn {
  font-size: 18px;
  color: #ffffff;
  padding: 1.5rem 3rem;
  display: inline-block;
  background: #000000;
  border: 2px solid #000000;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  z-index: 1;
  overflow: hidden;
}

.cmn_btn::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.cmn_btn:hover {
  color: #000000;
  background-color: #fff;
}

.cmn_btn:hover::after {
  width: 100%;
}

/*----Common Header and Button End----*/

/* Animation Section */

/* Swing */

.swing:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  100% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  100% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}

.swing:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swing {
  -webkit-animation: swing ease-in-out 1s infinite alternate;
  animation: swing ease-in-out 1s infinite alternate;
  -webkit-transform-origin: center -20px;
  -ms-transform-origin: center -20px;
  transform-origin: center -20px;
}

/* Rotate */

.rotate {
  -webkit-animation: rotation 12s infinite linear;
  animation: rotation 12s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* Floating */

.floating {
  -webkit-animation: floating ease-in-out 3s infinite;
  animation: floating ease-in-out 3s infinite;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  50% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }

  100% {
    -webkit-transform: translate(0, -0px);
    transform: translate(0, -0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  50% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }

  100% {
    -webkit-transform: translate(0, -0px);
    transform: translate(0, -0px);
  }
}

/* Animation Section End */

/*** Ankur 05.06.2023 ***/

header {
  background-color: #fff;
  position: relative;
}

.hdr_otr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px;
}

header .hdr_otr .crncy_optn button {
  font-size: 16px;
  background-color: transparent;
  color: #000000;
  border: none;
}

header .hdr_otr .crncy_optn ul {
  width: 100%;
}

header .hdr_otr .crncy_optn a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
  grid-template-columns: 80% 20%;
  font-size: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .inpt_bx {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
  grid-template-columns: 85% 15%;
  width: 87rem;
}

header .inpt_bx input {
  font-size: 15px;
  color: #000;
  padding: 1.5rem 0.5rem 1.5rem 40px;
  border: none;
  width: 100%;
}

header .inpt_bx .inpt_bx_inr {
  border: 1px solid #a8a5a5;
}

header .inpt_bx input[type="text"] {
  background: url(../src/assets/images/mg_glass.png) no-repeat;
  background-position: 2% center;
}

header .inpt_bx input[type="submit"] {
  color: #ca0000;
  background: url(../src/assets/images/sumbit_img.png) no-repeat;
  background-position: 4% center;
  padding-left: 25px;
}

header .inpt_bx input[type="submit"]:hover {
  color: #000000;
  background-color: #0001;
}

header .crt_itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3rem;
}

/* header.active {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 9999;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    animation: slide-down 0.7s linear;
} */

header .logo a {
  width: 8.4rem;
  display: block;
}

header .logo a img {
  width: 100%;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
  }
}

/*** Banner ***/

.bnr_sec .img_otr {
  position: relative;
}

.bnr_sec .bnr_cntnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 9rem;
  text-align: center;
}

.bnr_sec .bnr_cntnt h1 {
  font-size: 4.8rem;
  color: #fff;
  font-family: "TrajanPro";
}

.bnr_sec .bnr_cntnt h1 span {
  font-size: 6rem;
}

.bnr_sec .bnr_btn {
  margin-top: 2rem;
}

.bnr_sec .bnr_btn .cmn_btn {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.bnr_sec .bnr_btn .cmn_btn:hover {
  color: #fff;
}

.bnr_sec .bnr_btn .cmn_btn:after {
  background-color: #000;
}

/*** Banner Slider ***/

.bnr_sld_sec {
  padding-top: 9rem;
}

.bnr_sld_sec .bnr_sld_otr {
  position: relative;
}

.bnr_sld_sec .aftr_bnr_sldr {
  padding: 0 10px;
}

.bnr_sld_otr .swpr_arrws > * {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.bnr_sld_otr .swpr_arrws .arrow-next {
  right: -5rem;
}

.bnr_sld_otr .swpr_arrws .arrow-prev {
  left: -5rem;
}

.bnr_sld_otr h6 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.aftr_bnr_sldr img {
  width: 100%;
}

/*** NEW ARRIVAL SEC ***/

.nw_arrvl_otr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f9eacc;
}

.nw_arrvl_otr > *:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.nw_arrvl_otr h3 {
  text-transform: capitalize;
}

.nw_arrvl_otr img {
  width: 100%;
}

.nw_arrvl_otr .arrvl_btn .cmn_btn {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.nw_arrvl_otr .arrvl_btn .cmn_btn:after {
  background-color: #000;
}

.nw_arrvl_otr .arrvl_btn .cmn_btn:hover {
  color: #fff;
}

/*** Seasonal Product ***/

.ssnl_prdct_sec h3 {
  font-family: "TrajanPro";
  font-weight: 700;
}

#SeasonalTab .tab_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

#SeasonalTab .snl_tab_cntnt {
  border: none;
  padding: 0;
  margin-top: 5rem;
}

#SeasonalTab .resp-tab-item {
  border: none;
  margin: 0;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
}

#SeasonalTab .resp-tab-item.resp-tab-active {
  margin: 0;
  padding: 10px 20px;
  border: 1px solid #cc0404;
  color: #cc0404;
}

/*** Seasonal Tab Slider ***/

.ssnl_sldr .btm_itm_dtls {
  margin-top: 2.5rem;
}

.ssnl_sldr .btm_itm_dtls h5 {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.ssnl_sldr .btm_itm_dtls h6 {
  font-size: 16px;
  color: #a10303;
  font-weight: 600;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.ssnl_sldr .btm_itm_dtls del {
  color: #6f6f6f;
  text-decoration: line-through;
}

.ssnl_sldr .btm_itm_dtls p {
  font-size: 14px;
  color: #000000;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.ssnl_sldr .btm_itm_dtls p span {
  color: #a10303;
}

.ssnl_sldr .img_otr {
  position: relative;
}

.ssnl_sldr .img_otr img {
  width: 100%;
}

.ssnl_sldr .img_otr .heart {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.ssnl_sld_otr {
  position: relative;
}

.ssnl_sld_otr .ssnl_swpr_arrws > * {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 4rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #cfcece;
  border-radius: 50%;
  z-index: 1;
  margin-top: -6rem;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.ssnl_sld_otr .ssnl_swpr_arrws > *:hover {
  background-color: #333;
}

.ssnl_sld_otr .ssnl_swpr_arrws > *:hover img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.ssnl_sld_otr .ssnl_swpr_arrws .ssnl-arrow-next {
  right: 3rem;
}

.ssnl_sld_otr .ssnl_swpr_arrws .ssnl-arrow-prev {
  left: 3rem;
}

/*** Popular Style Sec ***/

.pplr_styl_sec {
  margin-top: 9rem;
}

#PopularTab .tab_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

#PopularTab .resp-tab-item {
  border: none;
  margin: 0;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
}

#PopularTab .resp-tab-item.resp-tab-active {
  margin: 0;
  padding: 10px 20px;
  border: 1px solid #cc0404;
  color: #cc0404;
}

#PopularTab .pplr_tab_cntnt {
  border: none;
  padding: 0;
  margin-top: 5rem;
}

.pplr_sldr .btm_itm_dtls h5 {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.pplr_sldr .btm_itm_dtls h6 {
  font-size: 16px;
  color: #a10303;
  font-weight: 600;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.pplr_sldr .btm_itm_dtls p {
  font-size: 14px;
  color: #000000;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.pplr_sld_otr {
  position: relative;
}

.pplr_sld_otr .pplr_swpr_arrws > * {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 4rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #cfcece;
  border-radius: 50%;
  z-index: 1;
  margin-top: -6rem;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.pplr_sld_otr .pplr_swpr_arrws .pplr-arrow-prev {
  left: 3rem;
}

.pplr_sld_otr .pplr_swpr_arrws .pplr-arrow-next {
  right: 3rem;
}

.pplr_sldr .img_otr .heart {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.pplr_sldr .btm_itm_dtls {
  margin-top: 2.5rem;
}

.pplr_sldr .btm_itm_dtls del {
  color: #6f6f6f;
  text-decoration: line-through;
}

.pplr_sldr .img_otr {
  position: relative;
}

.pplr_sldr .img_otr img {
  width: 100%;
}

/*** Best Seller Sec ***/

.bst_slrs .nw_arrvl_otr > *:last-child {
  display: block;
}

.bst_slrs .nw_arrvl_otr > *:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.bst_slrs .nw_arrvl_otr {
  background-color: #f4ca9b;
}

/*** Occassion Sec ***/

.occsn_tab_sec {
  margin-top: 9rem;
}

#OccasnTab .resp-tab-item {
  border: none;
  margin: 0;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
}

#OccasnTab .resp-tab-item.resp-tab-active {
  margin: 0;
  padding: 10px 20px;
  border: 1px solid #cc0404;
  color: #cc0404;
}

.occsn_sldr .img_otr .heart {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.occsn_tab_cntnt {
  padding: 0;
  border: 0;
  margin-top: 5rem;
}

.occsn_sldr .btm_itm_dtls h5 {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.occsn_sldr .btm_itm_dtls h6 {
  font-size: 16px;
  color: #a10303;
  font-weight: 600;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.occsn_sldr .btm_itm_dtls p {
  font-size: 14px;
  color: #000000;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.occsn_sldr .btm_itm_dtls {
  margin-top: 2.5rem;
}

.occsn_sld_otr .occsn_swpr_arrws > * {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 4rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  margin-top: -6rem;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.occsn_sld_otr .occsn_swpr_arrws .occsn-arrow-prev {
  left: 3rem;
}

.occsn_sld_otr .occsn_swpr_arrws .occsn-arrow-next {
  right: 3rem;
}

.occsn_sld_otr .occsn_swpr_arrws > *:hover {
  background-color: #333;
}

.occsn_sld_otr .occsn_swpr_arrws > *:hover img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.occsn_sld_otr {
  position: relative;
}

#OccasnTab .tab_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.occsn_sldr .img_otr {
  position: relative;
}

.occsn_sldr .img_otr img {
  width: 100%;
}

/*** Ayan Dey (06.06.2023) ***/

/*** offer sec start ***/

.offer_cntnt {
  text-align: center;
  margin-top: 3.5rem;
}

.parent_offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3.5rem;
}

.offer_cntnt h4 {
  font-family: "TrajanPro";
  font-size: 3rem;
  color: #000;
  font-weight: 700;
}

.offer_cntnt h5 {
  font-size: 2.4rem;
  color: #000;
  font-weight: 400;
  margin: 1rem 0 2rem;
}

/* offer sec end  */
/* features sec start  */
.parent_feature {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.feature_box {
  width: 20%;
  border: 1px solid #747474;
  padding: 2rem 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature_box img {
  margin: auto;
}

.feature_box .cmn_hdr h4 {
  text-transform: capitalize;
  letter-spacing: normal;
  padding: 0;
}

.feature.cmn_pdding {
  padding-bottom: 0;
}

/* features sec end   */
/* newsletter sec start  */
.parent_newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nleter_box {
  width: 31%;
  text-align: center;
}

.nleter_box:nth-child(2) {
  background-color: #a20707;
  padding: 5rem 2rem;
  width: 38%;
}

.nleter_box img {
  width: 100%;
  height: 100%;
}

.nletter_logo {
  margin: 20px auto 25px;
  width: 18.2rem;
}

.nleter_box .cmn_hdr h2 {
  font-size: 3rem;
}

.nleter_box .cmn_hdr h6 {
  font-size: 18px;
  color: #fff;
  margin-top: 2.5rem;
  padding: 0 3.5rem;
}

.nleter_box .cmn_hdr h5 {
  text-transform: uppercase;
  line-height: 1;
  margin-top: 3.5rem;
  color: #fff;
  padding: 0 10px;
}

.newsletter_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  margin-inline: auto;
}

.input_group {
  margin-top: 4rem;
}

.newsletter_input input {
  border: none;
  padding: 15px;
}

.newsletter_input input[type="email"] {
  width: 80%;
}

.newsletter_input input[type="submit"] {
  width: 20%;
  background-color: #000;
  color: #fff;
}

.nletter_whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2.2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nletter_whatsapp img {
  width: 22px;
}

.nletter_whatsapp span {
  color: #fff;
}

.nletter_whatsapp span {
  font-size: 2rem;
}

.newsletter_input input {
  font-size: 2rem;
}

/*** mewsletter sec end  ***/

/*** footer sec start  ***/

footer {
  background-color: #fae9da;
}

.btm {
  border-top: 1px solid #000;
}

.footer_box .cmn_hdr h4 {
  font-weight: 600;
  padding-bottom: 5px;
}

.footer_box .cmn_hdr ul li a {
  color: #000000;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 500;
}

.footer_box .cmn_hdr ul li a:hover {
  color: #a20707;
}

.footer_box .cmn_hdr ul li {
  padding-bottom: 0px;
  font-size: 2rem;
}

.parent_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 0;
}

.ftr-btm-details {
  text-align: center;
  padding: 25px 0;
}

.ftr-btm-details p a {
  color: #000;
}

.ftr-btm-details p a:hover {
  color: #a20707;
}

.footer_box:last-child ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.address {
  margin-bottom: 5px;
  line-height: 1.5;
}

.ftr-btm-details p {
  font-size: 2rem;
}

.footer_logo {
  width: 18.2rem;
  display: block;
}

.footer_logo img {
  width: 100%;
}

/*** footer sec end  ***/

/*! Back To Top */

/*! button back to top !*/

#backToTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: #a20707;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  position: fixed;
  right: 2.5rem;
  bottom: 105%;
  cursor: pointer;
  z-index: 5555;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border: 1px solid #a20707;
  font-size: 1.8rem;
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  padding: 0.4rem;
  outline: 1px solid transparent;
  outline-offset: 5px;
}

#backToTop:hover {
  outline: 1px solid #a20707;
  outline-offset: 0.5rem;
}

#backToTop.show {
  bottom: 2.5rem;
}

#backToTop img {
  transform: scale(0.5);
  filter: invert(1);
}

/*** Pre Loader ***/

#pre_Loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #f9eacc;
  inset: 0;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
}

.loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  -webkit-animation: scale var(--speed-of-animation) ease-in-out infinite;
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: var(--second-color);
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: var(--third-color);
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: var(--fourth-color);
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: var(--fifth-color);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@keyframes scale {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.05);
    transform: scaleY(0.05);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

/* Ankur 08.06.2023 */

.hdr_mn_otr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 2px solid #d1cfcf;
}

/* .bnr_sec .img_otr {
  background-image: url(../images/banner.png);
  width: 100%;
  height: 67.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
} */

/*** Maga Menu ***/
/*** Ankur 29.06.2023 ***/

.mega_menu .dropdown-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
}

.mega_menu .dropdown-inner li a {
  margin: 10px 0;
  color: #888;
  font-size: 13px;
  font-weight: 600;
  display: block;
  letter-spacing: 0.5px;
}

.mega_menu .dropdown-inner strong a {
  color: #a20707;
  font-size: 15px;
  font-weight: 700;
}

.mega_menu .columns a {
  position: relative;
}

.mega_menu .columns span {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.mega_menu .columns span big {
  display: block;
  font-size: 2.5rem;
}

.nav_area .nav-link {
  font-size: 15px;
  color: #010101;
  font-weight: 700;
  padding: 2rem 0;
}

.nav-item.mega-item {
  position: relative;
}

.mega_menu {
  opacity: 0;
  background-color: #fff;
  pointer-events: none;
  width: 120rem;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 9999;
  transition: 0.5s all;
  overflow: auto;
  padding: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mega-item:hover .mega_menu {
  opacity: 1;
  pointer-events: all;
}

.navbar-nav.line-outr {
  gap: 7rem;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.hdr_mn_otr .container {
  display: flex;
  justify-content: space-between;
}

.sl_btns {
  display: flex;
  gap: 1.5rem;
}

.sl_btns .sl_of {
  font-size: 15px;
  padding: 10px !important;
  color: #fff;
  background-color: #cc0404;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sl_btns .snd_str {
  border: 1px solid #bababa;
  font-size: 15px;
  padding: 10px !important;
  color: #cc0404;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.nav-item.mega-item.mi-sml .mega_menu .dropdown-inner {
  display: block;
}

.nav-item.mega-item.mi-sml .mega_menu {
  width: 25rem;
}

.mega_menu .dropdown-inner li a:hover {
  color: #cc0404;
}
